





<style>
    #openhouse-media-event-popup {
    display: block; 
    top: 20px; 
    left: 370px; 
    margin-bottom: 20px; 
    position: absolute;

}
.openhouse-media-event-popup-wrap {
    background: #fff;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 175px;
    max-width: 700px;
    width: 100%;
    z-index: 888888888;
} 
.media-popup-body {
    position: relative;
    height: 100%;
    transition: opacity .5s ease-in-out;
    -webkit-transition: opacity .5s ease-in-out;
    -moz-transition: opacity .5s ease-in-out;
    -o-transition: opacity .5s ease-in-out;
    opacity: 1;
} 
.media-popup-body-close {
    display: none;
}
.media-popup-content {
    position: relative;
    min-height: 400px;
    background-color: #7f7f7f;
    overflow: hidden;
}
 .media-popup-image-container {
     position: absolute;
     width: 100%;
     top: 0;
     left: 0;
     height: 100%;
 }
 .media-popup-image-background-wrap {
     height: 100%;
 }

 .media-pop-image-background {
 background-position: 50% 50%;
 background-size: cover;
 opacity: .6;
 height: 100%;
 }

 .media-popup-description {
   padding: 30px 5px 30px 5px;
   text-align: center;
   display: inline-block;
   /* position: relative; */
  width: 100%;
    min-height: 400px;
   vertical-align: middle;
   /* margin-left: 15px !important; */
   margin-right: 15px !important;
 }

 .media-popup-description-wrapper {
     position: absolute;
     top: 40%;
     transform: translateY(-40%);
     margin-right: 30px;
     margin-left: 30px;
 }
 .media-popup-event-caption {
     font-size: 43px;
     font-weight: 600;
     line-height: 1em;
     color: #fff;
     width: 100%;
     text-transform: uppercase;
 }
 .media-popup-tagline {
     font-size: 18px;
     line-height: 1.5;
     color: #fff;
     width: 100%;
     margin-top: 15px;
     margin-bottom: 20px;
 }

 .btnc {
 margin-top: 20px;
 border: 1px solid #4489a0;
 font-size: inherit;
 color: #fff;
 background: #4489a0;
 cursor: pointer;
 padding: 15px 40px;
 display: inline-block;
 margin: 15px 30px;
 text-transform: uppercase;
 letter-spacing: 1px;
 font-weight: 700;
 outline: none;
 position: relative;
 text-decoration: none;

 }



</style>

<div id="openhouse-media-event-popup" class="openhouse-media-event-popup-wrap box" style="display: none;">
    <div id="media-popup-body" class="media-popup-body">
        <div id="media-popup-wrapper" class="media-popup-wrapper">

            <div class="media-popup-content">
              
              
                <div id="media-popup-image-container" class="media-popup-image-container">
                    <div class="media-popup-image-background-wrap">
    <div class="media-pop-image-background"
        style="background-image:url(http://openhouselimited.com/assets/images/home-bg-1024x683.jpg);"
        ></div> </div>
                </div>

                <div class="media-popup-description">
                    <div class="media-popup-description-wrapper">

                        <div class="media-popup-event-caption">
                            <div class="">Be part of our Home Buyer's Sermina?
                            </div>
                        </div>

                        <div class="media-popup-tagline">
                      
                    <span style="color: #FFFFFF;">You are invited to the Gidan Iyali Affordable Housing Symposium. Its about affordable
                        housing and creating an enabling micro enviroment to improve housing affordability.
                                    road.</span>


                        
                        </div>
                 <a target="_blank" href="http://openhouselimited.com/home-buyers-seminar" class="btnc btn-4 text-uppercase">Register
                     Now</a>
                   <a onClick="PopUp('hide')" href="#" class="" style="color:#fff;">No, Exit anyway</a>
                 
                    </div>
                </div>

                
    
            </div>
        </div>
    </div>
</div>



<script>


$(document).ready(function() {
       // initially popup is hidden:
        $('openhouse-media-event-popup').hide();
        // Check for the "whenToShowDialog" cookie, if not found then show the dialog and save the cookie.
        // The cookie will expire and every 2 days and the dialog will show again.
        if ($.cookie('whenToShowDialog') == null) {
            // Create expiring cookie, 2 days from now:
            $.cookie('whenToShowDialog', 'yes', { expires: 2, path: '/' });

            // Show dialog
             $('#openhouse-media-event-popup').show();
        }
    });
 
    // function PopUp(hideOrshow) {
    //     if (hideOrshow == 'hide') document.getElementById('openhouse-media-event-popup').style.display = "none";
    //     else document.getElementById('openhouse-media-event-popup').removeAttribute('style');

       
    // }
    // window.onload = function () {
    //     setTimeout(function () {
    //         PopUp('show');
    //     }, 5000);
    // }
</script>


