/*
    Flaticon icon font: Flaticon
    Creation date: 08/09/2018 00:19
    */

@font-face {
  font-family: "Flaticon";
  src: url("fonts/Flaticon.eot");
  src: url("fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
    url("fonts/Flaticon.woff") format("woff"),
    url("fonts/Flaticon.ttf") format("truetype"),
    url("fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./fonts/Flaticon.svg") format("svg");
  }
}

[class^="flaticon-"]:before,
[class*=" flaticon-"]:before,
[class^="flaticon-"]:after,
[class*=" flaticon-"]:after {
  font-family: Flaticon;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.flaticon-move:before {
  content: "\f100";
}
.flaticon-scroll:before {
  content: "\f101";
}
.flaticon-customer-support:before {
  content: "\f102";
}
.flaticon-feature:before {
  content: "\f103";
}
.flaticon-intersect:before {
  content: "\f104";
}
.flaticon-union:before {
  content: "\f105";
}
.flaticon-intersection:before {
  content: "\f106";
}
.flaticon-rgb:before {
  content: "\f107";
}
.flaticon-rgb-1:before {
  content: "\f108";
}
.flaticon-resolution:before {
  content: "\f109";
}
.flaticon-showcase:before {
  content: "\f10a";
}
.flaticon-tickets:before {
  content: "\f10b";
}
.flaticon-ticket:before {
  content: "\f10c";
}
.flaticon-conversation:before {
  content: "\f10d";
}
.flaticon-speech-bubble:before {
  content: "\f10e";
}
.flaticon-email:before {
  content: "\f10f";
}
.flaticon-contact:before {
  content: "\f110";
}
.flaticon-file:before {
  content: "\f111";
}
.flaticon-upload-information:before {
  content: "\f112";
}
.flaticon-signs-2:before {
  content: "\f100";
}
.flaticon-box:before {
  content: "\f100";
}
.flaticon-van:before {
  content: "\f101";
}
