/* ----------------------------------

Project Name: Haulage 247
Author: Balogun Abiodun A
Version: 0.01

-------------------------------------

/*
** General Styles for HTML tags
*/

* {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: visible;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol;
  /* font-family: 'Open Sans', sans-serif; */
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  overflow-x: hidden;
  background-color: #ffffff;
  letter-spacing: 0.3px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
.wrapper {
  height: 100%;
}

.m-15px-tb {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mg-t-10 {
  margin-top: 10px;
}

.mg-t-20 {
  margin-top: 20px !important;
}

.mg-t-30 {
  margin-top: 30px;
}

.mg-t-40 {
  margin-top: 40px;
}

.mg-t-50 {
  margin-top: 50px;
}

.mg-t-60 {
  margin-top: 60px;
}

.mg-t-70 {
  margin-top: 70px;
}

.mg-t-80 {
  margin-top: 80px;
}

.mg-d-10 {
  margin-bottom: 10px;
}

.mg-d-20 {
  margin-bottom: 20px;
}

.mg-d-30 {
  margin-bottom: 30px;
}

.mg-d-40 {
  margin-bottom: 40px;
}

.mg-d-50 {
  margin-bottom: 50px;
}

.mg-d-60 {
  margin-bottom: 60px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #232323;
  font-weight: normal;
  line-height: 1.2;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0;
  margin: 0;
}

.tx-10 {
  font-size: 10xp;
}

.tx-10 {
  font-size: 10px !important;
}

.tx-20 {
  font-size: 20px !important;
}

.tx-30 {
  font-size: 30px !important;
}

.tx-40 {
  font-size: 40px !important;
}

.tx-50 {
  font-size: 50px !important;
}

.text-bold {
  font-weight: 700;
}

.title-h1 {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.04em;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.banner-p {
  font-size: 15px;
  letter-spacing: 0.03em;
}
.title-h3 {
  font-size: 48px;
}
.title-h4 {
  font-size: 32px;
}
.title-h5 {
  font-size: 24px;
}
.title-h6 {
  font-size: 18px;
}

.text-theme {
  color: #f4b070;
}

.theme-general {
  color: #f4b070;
  font-size: 30px;
  font-weight: 600;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 15px;
}

h5,
h5 {
  margin-bottom: 10px;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
}

label {
  display: inline-block;
  font-weight: normal;
  margin-bottom: 5px;
  max-width: 100%;
}

a,
.btn,
button {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  outline: medium none;
}

a img,
iframe {
  border: none;
}

p {
  color: #232323;
  line-height: 26px;
  margin: 0 0 15px;
  text-transform: none;
  font-weight: 400;
  text-align: justify;
}

hr {
  margin-top: 0;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid #eee;
}

pre {
  display: block;
  margin: 0 0 30px;
  padding: 9.5px;
  word-wrap: break-word;
  word-break: break-all;
  color: #333;
  border: 1px solid #ededed;
  border-radius: inherit;
  background-color: #f9f9f9;
  font-size: 13px;
  line-height: 1.42857143;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: inherit;
}

ul {
  margin: 0;
  list-style-type: none;
}

a,
a:active,
a:focus,
a:hover {
  outline: none;
  text-decoration: none;
  color: #232323;
}

a:hover {
  color: #232323;
}

a {
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

b,
strong {
  font-weight: 900;
}

.btn.active,
.btn:active {
  background-image: inherit !important;
}

.btn.focus,
.btn:active:focus,
.btn:active:hover,
.btn:focus,
.btn:hover {
  outline: 0;
}

.btn.circle {
  /* border-radius: 30px; */
}

.btn.active,
.btn:active {
  outline: 0;
  -webkit-box-shadow: inherit;
  box-shadow: inherit;
}

input {
  border: 1px solid #e7e7e7;
  border-radius: inherit;
  box-shadow: inherit;
  min-height: 50px;
}
/* Default CSS */
.container-half {
  margin: 0 auto;
  width: 60%;
  padding: 0 15px;
}
.bg-footer-gradient {
  background-color: #0c101c;
  background-image: linear-gradient(315deg, #000 0%, #0c101c 74%);
}
/* 
.bg-footer-gradient::after {
content: "";
position: absolute;
background: #0c101c;
top: 0;
left: -80px;
right: -80px;
bottom: 0;
z-index: -1;
-moz-transform: rotate(-5deg);
-o-transform: rotate(-5deg);
-ms-transform: rotate(-5deg);
-webkit-transform: rotate(-5deg);
transform: rotate(-5deg);
} */

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
}

.bg-gray {
  background-color: #f9f9f9;
}

.bg-theme-small {
  background-color: #edf5ff;
}

.bg-light {
  background-color: #ffffff;
}

.bg-theme {
  background-color: #f4b070;
}

.near-white {
  color: #f8f9fa;
}

.text-light h1,
.text-light h2,
.text-light h3,
.text-light h4,
.text-light h5,
.text-light h6,
.text-light p,
.text-light a {
  color: #ffffff;
}

.shadow {
  position: relative;
  z-index: 1;
}

.shadow.dark::after {
  /* background: #39f none repeat scroll 0 0; */
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.dark-hard::after {
  background: #0f0e0e none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.75;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.light::after {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.3;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme::after {
  background: #f4b070 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.shadow.theme-hard::after {
  background: #f4b070 none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.7;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.default-padding {
  padding-top: 20px;
  padding-bottom: 20px;
}

.default-padding-top {
  padding-top: 80px;
}

.default-padding-bottom {
  padding-bottom: 80px;
}

.default-padding.bottom-less {
  padding-top: 80px;
  padding-bottom: 50px;
}

.default-padding.bottom-30 {
  padding-top: 80px;
  padding-bottom: 30px;
}

.default-padding.bottom-20 {
  padding-top: 80px;
  padding-bottom: 20px;
}

.padding-xl {
  padding-top: 180px;
  padding-bottom: 180px;
}

.carousel-shadow {
  padding-bottom: 65px;
}

.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  font-weight: 700;
  letter-spacing: 1px;
  border-radius: 5px;
  overflow: hidden;
}

.btn-md {
  padding: 10px 40px 10px;
}

.btn-sm {
  padding: 8px 35px;
  font-size: 12px;
}

.btn.btn-sm-pro {
  font-size: 10px;
  font-weight: 600;
  margin-top: 5px;
  padding: 4px 35px;
  display: inline-block;
}

.btn-border-light {
  border: 2px solid #ffffff;
}

.btn.btn-sm-pro.btn-border-light:hover,
.btn.btn-sm-pro.btn-border-light:focus {
  background-color: #ffffff;
  color: #232323;
  border: 2px solid #ffffff;
}

.btn-dark {
  background-color: #232323;
  color: #ffffff;
  border: 2px solid #232323;
}

.btn-dark.border {
  background-color: transparent;
  color: #232323;
  border: 2px solid #232323;
}

.btn-dark.border:hover {
  background-color: #232323;
  color: #ffffff !important;
  border: 2px solid #232323;
}

.btn.btn-light {
  background: #ffffff none repeat scroll 0 0;
  border: 2px solid #ffffff;
  color: #232323;
}

.btn.btn-light:hover,
.btn.btn-light:focus {
  background: transparent none repeat scroll 0 0;
  border: 2px solid #ffffff;
  color: #ffffff;
}

.btn.btn-light.effect:hover,
.btn.btn-light.effect:focus {
  background-color: #f4b070;
  color: #ffffff !important;
  border: 2px solid #f4b070;
}

.btn.btn-light.border {
  background: transparent;
  border: 2px solid #f4b070;
  color: #f4b070;
}

.btn.btn-light.border:hover {
  background: #ffffff none repeat scroll 0 0 !important;
  border: 2px solid #ffffff !important;
  color: #232323 !important;
}

.btn-dark:hover,
.btn-dark:focus {
  color: #232323 !important;
  background: transparent;
}

.bg-dark {
  background: #1d2024 none repeat scroll 0 0;
}

.btn-theme {
  background-color: #f4b070;
  color: #ffffff !important;
  border: 2px solid #f4b070;
}

.btn-theme.border {
  background-color: transparent;
  color: #f4b070 !important;
  border: 2px solid #f4b070;
}

.btn-theme.border:hover {
  background-color: #ef9139;
  color: #ffffff !important;
  border: 2px solid #ef9139;
}

.btn-theme.effect:hover,
.btn-theme.effect:focus {
  background: #ef9139 none repeat scroll 0 0;
  border: 2px solid #ef9139;
  color: #ffffff;
}

.btn.btn-sm-lm {
  font-size: 12px;
  padding: 4px 35px;
}

.btn.border.btn-light.standard {
  padding-left: 20px;
  padding-right: 50px;
  position: relative;
  z-index: 1;
}

.btn.border.btn-light.standard::after {
  background: #ffffff none repeat scroll 0 0;
  content: "";
  height: 53px;
  position: absolute;
  right: -18px;
  top: -10px;
  transform: skewX(20deg);
  width: 50px;
  z-index: -1;
}

.btn.border.btn-light.standard::before {
  color: #f4b070;
  content: "\f061";
  font-family: "Font Awesome 5 Free";
  height: 100%;
  position: absolute;
  right: 0;
  width: 25px;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.bg-cover {
  background-position: center center;
  background-size: cover;
}

.container-full {
  padding: 0 15px;
  width: 100%;
}

.oh {
  overflow: hidden;
}

.less-margin {
  margin: 0;
}

header {
  position: relative;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a {
  position: relative;
  z-index: 1;
  margin-left: 3px;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background .attr-nav ul li a {
  border: medium none;
}

header nav.navbar.border.bootsnav.navbar-fixed.no-background ul li a::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: -2px;
  content: "";
  height: 3px;
  left: 0;
  position: absolute;
  width: 0;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  ul
  li
  a.active::after,
header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  ul
  li
  a:hover::after {
  width: 100%;
}

header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  .attr-nav
  ul
  li
  a.active::after,
header
  nav.navbar.border.bootsnav.navbar-fixed.no-background
  .attr-nav
  ul
  li
  a:hover::after {
  width: 0;
}

.attr-nav .social.right li {
  margin-left: 20px;
}

.attr-nav .social li a {
  font-size: 16px;
}

/* Navbar */
nav.bootsnav.navbar-default.info-topbar .navbar-header {
  display: none;
}

nav.bootsnav.navbar-default.info-topbar ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

nav.bootsnav.navbar-default.info-topbar.active-full ul li a {
  margin-right: 0;
  padding: 35px 20px;
}

.attr-nav > a.btn-theme.effect:hover,
.attr-nav > a.btn-theme.effect,
.attr-nav > a.btn-theme.effect:focus {
  background: #f4b070 none repeat scroll 0 0;
  border: 2px solid #f4b070;
  color: #ffffff !important;
}

nav.bootsnav.navbar-default.info-topbar.sticked ul li a {
  margin-right: 30px;
  padding: 35px 0;
}

.attr-nav.social li {
  display: inline-block;
  padding: 25px 0 !important;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.attr-nav.social li a {
  border: 1px solid #f4f4f4;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #f4b070;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  padding: 0 !important;
  text-align: center;
  width: 40px;
}

nav.navbar.bootsnav.sticked .attr-nav.social li {
  display: inline-block;
  padding: 20px 0 !important;
}

.site-heading h2 {
  display: inline-block;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
}

.site-heading.clean h2 {
  padding-bottom: 0;
}

.site-heading.clean h2 span {
  color: #f4b070;
}

.site-heading h2 span {
  color: #f4b070;
}

.site-heading.barber h2 span {
  color: #bc9355;
}

.site-heading p {
  margin: 0;
}

.site-heading.clean h2::after,
.site-heading.clean h2::before {
  display: none;
}

.site-heading h2::before {
  background: #f4b070 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -5px;
  position: absolute;
  width: 50px;
}

.bg-theme .site-heading h2::before,
.bg-theme-hard .site-heading h2::before {
  background: #ffffff none repeat scroll 0 0;
}

.site-heading h2::after {
  background: #232323 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 25px;
}

.bg-theme .site-heading h2::after,
.bg-theme-hard .site-heading h2::after {
  background: #ffffff none repeat scroll 0 0;
}

.site-heading h2 span {
  color: #f4b070;
}

.site-heading {
  margin-bottom: 60px;
  overflow: hidden;
  margin-top: -5px;
}

.site-heading.single {
  margin-bottom: 35px;
}

.carousel-shadow .site-heading {
  margin-bottom: 35px;
}

/* ============================================================== 
# Bradcrumb 
=================================================================== */
.breadcrumb-area {
  padding: 100px 0;
}

.breadcrumb-area .breadcrumb {
  background: transparent none repeat scroll 0 0;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  position: relative;
  z-index: 1;
}

.breadcrumb-area .breadcrumb::after {
  background: #232323 none repeat scroll 0 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.6;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.breadcrumb-area h1 {
  display: block;
  font-size: 40px;
  font-weight: 600;
  text-transform: uppercase;
}

.breadcrumb > li + li::before {
  color: #ffffff;
  content: "\f105";
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  padding: 0 5px;
}

.breadcrumb-area .breadcrumb a,
.breadcrumb-area .breadcrumb li {
  font-weight: 600;
  text-transform: uppercase;
}

.breadcrumb-area .breadcrumb li.active {
  color: #f4b070;
}

/*  Banner */
body,
.banner-area,
.banner-area div {
  height: 100%;
}

.banner-area.auto-height,
.banner-area.auto-height div {
  height: auto;
  min-height: 100%;
}

.banner-area .box-cell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.banner-area .box-table {
  display: table;
  width: 100%;
}

.banner-area .box-cell,
.banner-area .box-cell div {
  height: auto;
}

.banner-area {
  position: relative;
  overflow: hidden;
}

.banner-area .wavesshape {
  bottom: -2px;
  left: 0;
  position: absolute;
  right: 0;
  top: auto;
  width: 100%;
}

.banner-area .wavesshape.shape {
  bottom: -50px;
}

.banner-area .content {
  overflow: hidden;
  position: relative;
  z-index: 9;
}

.banner-area.wavesshape {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow {
  position: relative;
  z-index: 1;
}

.banner-area.triangle-shadow::before {
  border-bottom: 0 solid transparent;
  border-right: 100vw solid #fff;
  border-top: 80px solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 101;
}

.banner-area.shadow-inner .content {
  padding: 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.banner-area.content-double .double-items {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.banner-area .banner-carousel .owl-item.center img {
  transform: scale(1);
}

.banner-area .banner-carousel .owl-item img {
  transform: scale(0.9);
}

.banner-area .simple-video {
  position: relative;
}

.banner-area .simple-video .video-play-button {
  bottom: inherit;
  float: left;
  left: 0;
  margin-left: 30px;
  position: relative;
  top: 0;
  transform: inherit;
  font-size: 20px;
  padding: 0;
}

.banner-area .simple-video a {
  float: left;
  text-align: center;
}

.banner-area .simple-video .content {
  overflow: inherit;
}

.banner-area .simple-video .video-play-button::after {
  height: 60px;
  width: 60px;
}

.banner-area .simple-video .video-play-button::before {
  height: 60px;
  width: 60px;
}

.banner-area .simple-video .video-play-button i {
  line-height: 40px;
}

.banner-area.shadow-inner .content::after {
  background: #39f none repeat scroll 0 0;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner-area.inc-dots .carousel-indicators {
  bottom: inherit;
  display: inline-block;
  left: auto;
  margin: -40px 0 0;
  position: absolute;
  right: 20px;
  top: 50%;
  width: auto;
}

.banner-area.inc-dots .carousel-indicators li {
  border: 3px solid #ffffff;
  display: block;
  height: 20px;
  margin: 10px 0;
  width: 20px;
}

.banner-area.inc-dots .carousel-indicators li.active,
.banner-area.inc-dots .carousel-indicators li:hover {
  background: #f4b070 none repeat scroll 0 0;
}

.banner-area.large-font .content h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.banner-area.text-center p {
  padding: 0 10%;
}

.banner-area .content span {
  color: #f4b070;
  font-weight: 700;
}

.banner-area.text-light.shadow.theme-hard .content span {
  color: #232323;
}

.banner-area.banner-top-padding .double-items {
  margin-top: -60px;
}

.banner-area.text-dark .content span {
  color: #ffffff;
}

.banner-area.large-font h4 {
  line-height: 1.4;
  margin-bottom: 30px;
}

.banner-area.middle-text.heading-uppercase .content h1 {
  font-size: 80px;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.banner-area.small-text .content h1 {
  font-size: 70px;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
  color: #f4b070;
}

.banner-area.normal-text .content h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
  color: #000;
}

.banner-area.normal-text .content a {
  margin-top: 15px;
}

.banner-area .banner-carousel {
  cursor: w-resize;
}

.banner-area .banner-carousel .owl-dots {
  margin-top: 20px !important;
}

.banner-area .banner-carousel .owl-dots .owl-dot span {
  background: #ffffff none repeat scroll 0 0;
  border: 3px solid #e7e7e7;
  height: 20px;
  width: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.banner-area .banner-carousel .owl-dots .owl-dot.active span,
.banner-area .banner-carousel .owl-dots .owl-dot:hover span {
  border-color: #f4b070;
}

.banner-area.small-text .content p {
  margin-bottom: 30px;
}

.banner-area.middle-text .content h4 {
  line-height: 30px;
}

.banner-area.middle-text .content h2 {
  color: #f4b070;
  font-weight: 500;
  text-transform: capitalize;
}

.banner-area.middle-text .content h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.banner-area.middle-text .content a {
  margin-left: 3px;
  margin-right: 3px;
  margin-top: 10px;
}

.banner-area .content a {
  margin: 0 3px;
}

.banner-area.version-3 .content h1 {
  font-size: 80px;
  font-weight: 700;
  line-height: 1.1;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.banner-area.version-3 .content h3 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.banner-area .right-info {
  text-align: center;
}

.banner-area.auto-height .double-items {
  overflow: hidden;
  padding-top: 160px;
}

.banner-area.auto-height.sticky-nav .double-items {
  padding-top: 90px;
}

.banner-area.auto-height .double-items .banner-carousel,
.banner-area.auto-height .double-items .banner {
  margin-top: 50px;
}

.banner-area .carousel-control {
  font-size: 40px;
  height: 50px;
  line-height: 50px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  margin-top: -25px;
  background: transparent;
  opacity: 1;
  z-index: 1;
}

.banner-area .carousel-control.shadow {
  background: transparent none repeat scroll 0 0;
  font-size: 20px;
  height: 50px;
  line-height: 50px;
  margin-top: -25px;
  opacity: 1;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 50px;
  z-index: 1;
  color: #ffffff;
  text-shadow: inherit;
}

.banner-area .carousel-control.shadow::after {
  background: #232323 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.banner-area .carousel-control.left {
  left: -50px;
}

.banner-area:hover .carousel-control.left {
  left: 0;
}

.banner-area.typed-text.small-text .content h2 {
  display: block;
  margin-bottom: 30px;
}

.banner-area:hover .carousel-control.shadow.left {
  left: 20px;
}

.banner-area .carousel-control.right {
  right: -50px;
}

.banner-area:hover .carousel-control.right {
  right: 0;
}

.banner-area:hover .carousel-control.shadow.right {
  right: 20px;
}

/* Animation delays */
.banner-area .item h1:first-child,
.banner-area .item h2:first-child,
.banner-area .item h3:first-child,
.banner-area .item h4:first-child,
.banner-area .item h5:first-child,
.banner-area .item h6:first-child {
  animation-delay: 0.5s;
}

.banner-area .item h1:nth-child(2),
.banner-area .item h2:nth-child(2),
.banner-area .item h3:nth-child(2),
.banner-area .item h4:nth-child(2),
.banner-area .item h5:nth-child(2),
.banner-area .item h6:nth-child(2) {
  animation-delay: 0.7s;
}

.carousel-caption h1:nth-child(3),
.carousel-caption h2:nth-child(3),
.carousel-caption h3:nth-child(3),
.carousel-caption h4:nth-child(3),
.carousel-caption h5:nth-child(3),
.carousel-caption h6:nth-child(3) {
  animation-delay: 0.9s;
}

.banner-area .item p {
  animation-delay: 0.5s;
}

.banner-area .item a,
.banner-area .item button {
  animation-delay: 0.7s;
}
/* Carousel Fade Effect */
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}

.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}

.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}

.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
}

.carousel-fade .carousel-control {
  z-index: 2;
}
/* Slider Zoom Effect */
@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(1, 1);
  }

  to {
    -webkit-transform: scale(1.2, 1.2);
  }
}

@-moz-keyframes zoom {
  from {
    -moz-transform: scale(1, 1);
  }

  to {
    -moz-transform: scale(1.2, 1.2);
  }
}

@-o-keyframes zoom {
  from {
    -o-transform: scale(1, 1);
  }

  to {
    -o-transform: scale(1.2, 1.2);
  }
}

@keyframes zoom {
  from {
    transform: scale(1, 1);
  }

  to {
    transform: scale(1.2, 1.2);
  }
}

.carousel-inner .item > .slider-thumb {
  -webkit-animation: zoom 20s;
  animation: zoom 20s;
}

.banner-area .carousel-zoom .slider-thumb {
  height: 100%;
  position: absolute;
  width: 100%;
}

#particles-js,
#ripple {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Fun Facts*/

.facts-countdown-area {
  background-color: #444;
  -webkit-box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.04);
}

.facts-countdown-content.featured {
  text-align: right;
  background-color: #f4b070;
  padding-top: 51.6px;
  padding-bottom: 51.6px;
  padding-right: 58px;
}
.facts-countdown-content {
  letter-spacing: 1px;
}

.facts-countdown-content.featured h3 {
  color: #ffffff;
  font-weight: 700;
}
.facts-countdown-content h3 {
  margin-bottom: 5px;
  font-size: 1.475rem;
  letter-spacing: 1px;
  /* font-family: "Roboto", sans-serif; */
}

.facts-countdown-content:not(.featured) {
  text-align: center;
  padding: 35px 0;
}

.facts-countdown-content:not(.featured) h3 {
  color: #999999;
  font-weight: 400;
}

.facts-countdown-content:not(.featured) span {
  color: #f4b070;
  font-weight: 700;
  font-size: 3rem;
}

/*  About  */

.xs-section-padding {
  padding: 100px 0;
}

.xs-section-padding .shuffle-title {
  position: relative;
}

.xs-section-padding .portfolio-about {
  position: relative;
  z-index: 1;
}

.portfolio-about .shuffle-letter-title-wraper {
  top: -11px;
  left: -20px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  z-index: -1;
}
.shuffle-letter-title-wraper {
  position: absolute;
  text-align: center;
}
.shuffle-title {
  position: relative;
}

.portfolio-about .shuffle-letter-title-wraper .shuufle-letter-title {
  font-size: 7.625rem;
  color: #f3f3f3;
  font-weight: 700;
}

.portfolio-about .subtitle {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5);
  letter-spacing: 0.2rem;
}

.portfolio-about .title {
  font-size: 2.25rem;
  margin-bottom: 0px;
}

.about-area .default.info h4 {
  color: #f4b070;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.about-area .default.info h2 {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 20px;
}

.about-area .bottom-info {
  border-top: 1px solid #e7e7e7;
  margin-top: 35px;
  padding-top: 30px;
}

.about-area .bottom-info span {
  display: table;
  padding-top: 2px;
}

.about-area .default.info h3 {
  font-weight: 600;
  margin-bottom: 20px;
}

.about-area .default.info > a {
  margin-top: 10px;
}

.about-area .bottom-info li {
  color: #666666;
  display: block;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 15px;
  text-transform: capitalize;
}

.about-area .bottom-info li i {
  /* background: #F4B070 none repeat scroll 0 0; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 20px;
  line-height: 20px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 20px;
  z-index: 1;
}

.about-area .bottom-info li:last-child {
  margin: 0;
}

.about-area .bottom-info li i::after {
  background: #f4b070 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 28px;
  left: 0;
  margin-left: -4px;
  margin-top: -4px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 28px;
  z-index: -1;
}

.about-area .services-info .item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-top: 30px;
  padding: 30px;
}

.about-area .services-info {
  margin-top: -30px;
}

.about-area .services-info .item i {
  color: #f4b070;
  display: inline-block;
  font-size: 60px;
  margin-bottom: 25px;
  position: relative;
  z-index: 1;
}
/* .img-trim {
width: 80px;
height: 80px;
flex: auto;
justify-self: center;
margin: 0px 34px 10px auto;
} */

.about-area .services-info .item h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.about-area .services-info .item p {
  margin: 0;
}

.about-area .services-info .equal-height:nth-child(1) .item,
.about-area .services-info .equal-height:nth-child(4) .item {
  background: #f4b070 none repeat scroll 0 0;
}

.about-area .services-info .equal-height:nth-child(1) .item i,
.about-area .services-info .equal-height:nth-child(4) .item i,
.about-area .services-info .equal-height:nth-child(1) .item h4,
.about-area .services-info .equal-height:nth-child(4) .item h4,
.about-area .services-info .equal-height:nth-child(1) .item p,
.about-area .services-info .equal-height:nth-child(4) .item p {
  color: #fff;
}

/*  # Features  */

.features-area.bottom-small {
  padding-bottom: 25px;
}

.features-area.default-padding.bottom-none {
  padding-bottom: 30px;
}

.features-area .item .icon {
  display: table-cell;
  vertical-align: top;
}

.features-area .item .info {
  display: table-cell;
  padding-left: 25px;
  vertical-align: top;
}

.features-area .item .icon i {
  /* background: #edf5ff none repeat scroll 0 0; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #232323;
  display: inline-block;
  font-size: 50px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  width: 100px;
}

.features-area .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 13px;
}

.features-area .item .info p {
  margin: 0;
}

.features-area .equal-height {
  margin-bottom: 50px;
}

.features-area.cell-items .features-thumb,
.features-area.cell-items .features-items {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.features-area.cell-items .features-thumb {
  padding-right: 35px;
}

.features-area.cell-items .features-items .equal-height {
  margin-bottom: 0;
  margin-top: 50px;
}

.features-area.cell-items .features-items .equal-height:first-child,
.features-area.cell-items .features-items .equal-height:nth-child(2) {
  margin-top: 0;
}

.features-area.features-list .features-items h2 {
  font-weight: 600;
  line-height: 1.4;
  margin-bottom: 25px;
}

.features-area.features-list .features-items li {
  color: #666666;
  display: block;
  font-weight: 400;
  letter-spacing: 1px;
  margin-bottom: 25px;
  text-transform: capitalize;
}

.features-area.features-list .features-items li:last-child {
  margin: 0;
}

.features-area.features-list .features-items li i {
  background: #f4b070 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  float: left;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
  margin-right: 15px;
  margin-top: 5px;
  position: relative;
  text-align: center;
  width: 30px;
  z-index: 1;
}

.features-area.features-list .features-items li i::after {
  background: #f4b070 none repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  content: "";
  height: 40px;
  left: 0;
  margin-left: -5px;
  margin-top: -5px;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: 40px;
  z-index: -1;
}

.features-area.features-list .features-thumb {
  padding-right: 35px;
}

.features-area.features-list .features-items li .icon {
  display: table-cell;
  vertical-align: top;
}

.features-area.features-list .features-items li .info {
  display: table-cell;
  padding-left: 5px;
  vertical-align: top;
}

.features-area.features-list .features-items li .info h4 {
  margin-bottom: 10px;
}

.features-area.features-list .features-items ul {
  margin-top: 30px;
  padding-right: 50px;
}

.features-area.features-list .features-items li .info p {
  color: #666666;
  margin: 0;
}

.features-area.features-list .features-item.reverse .features-thumb {
  float: right;
  padding-right: 15px;
}

.features-area.features-list .features-item.reverse .features-items {
  padding-left: 15px;
}

.features-area.features-list .features-item {
  margin-top: 80px;
  overflow: hidden;
}

.features-area.features-list .features-item:first-child {
  margin: 0;
}

/*  # Overview  */

.overview-area .nav-pills li {
  display: inline-block;
  float: none;
  margin-bottom: 10px;
}

.overview-area .tab-navigation {
  display: block;
  height: auto;
  margin-bottom: 30px;
  min-height: auto;
  overflow: hidden;
}

.overview-area .nav-pills li a {
  background: #edf5ff none repeat scroll 0 0;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #232323;
  display: inline-block;
  font-weight: 600;
  padding: 10px 40px;
  text-transform: uppercase;
}

.overview-area .nav-pills li.active a {
  background: #f4b070 none repeat scroll 0 0;
  color: #ffffff;
}

.overview-area .overview-items.vertical .tab-navigation,
.overview-area .overview-items.vertical .tab-content {
  display: table-cell;
  vertical-align: top;
}

.overview-area .overview-items.vertical .tab-navigation {
  background: #edf5ff none repeat scroll 0 0;
  min-width: 200px;
  overflow: inherit;
  padding: 30px 50px;
}

.overview-area .overview-items.vertical .tab-navigation li {
  display: block;
  margin-bottom: 10px;
  position: relative;
  z-index: 1;
}

.overview-area .overview-items.vertical .tab-navigation li:last-child {
  margin-bottom: 0;
}

.overview-area .overview-items .item .info h3,
.overview-area .overview-items .item .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.overview-area .overview-items .item .thumb,
.overview-area .overview-items .item .info {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

.overview-area .overview-items .item .thumb {
  padding: 0;
}

.overview-area .overview-items .item .info {
  border: 1px solid #e7e7e7;
  padding: 30px;
}

.carousel-shadow .owl-stage-outer {
  padding: 15px 0;
}

.overview-area .overview-items .item .info a {
  color: #f4b070;
  font-weight: 600;
  text-transform: uppercase;
}

.overview-area .overview-items .owl-dots .owl-dot span {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 4px solid #edf5ff;
  height: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 20px;
}

.overview-area .overview-items .owl-dots .owl-dot.active span,
.overview-area .overview-items .owl-dots .owl-dot:hover span {
  background: #f4b070 none repeat scroll 0 0;
}

.overview-area .overview-carousel .owl-nav {
  margin: 0;
}

.overview-area .overview-carousel .owl-dots {
  margin-bottom: -15px;
  margin-top: 20px;
}

.overview-area .overview-carousel .owl-nav .owl-prev,
.overview-area .overview-carousel .owl-nav .owl-next {
  background: transparent none repeat scroll 0 0;
  color: #f4b070;
  font-size: 30px;
  height: 40px;
  left: 20px;
  line-height: 40px;
  margin-top: -50px;
  padding: 0;
  position: absolute;
  top: 50%;
  width: 40px;
}

.overview-area .overview-carousel .owl-nav .owl-next {
  left: auto;
  right: 20px;
}

.overview-area .overview-carousel .item:hover {
  cursor: crosshair;
}

/* ============================================================== 
# Pricing Table 
=================================================================== */
.pricing-item {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.pricing-header h4 {
  font-weight: 600;
  text-transform: uppercase;
  color: #232323;
}

.pricing-header h2 {
  color: #232323;
  font-size: 50px;
  font-weight: 900;
  letter-spacing: -1px;
  line-height: 1;
  margin-bottom: 0;
}

.color-yellow .pricing-header h2 {
  color: #ff9800;
}

.pricing-header h2 sup {
  font-size: 24px;
  font-weight: 600;
  margin-right: 5px;
}

.pricing-header h2 sub {
  font-size: 18px;
  font-weight: 400;
  margin-left: -5px;
}

.pricing-item .pricing-header span {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.pricing-header {
  background: #edf5ff none repeat scroll 0 0;
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 35px;
  padding: 30px !important;
}

.pricing-item .footer {
  padding: 30px;
}

.pricing-item li {
  font-family: "Poppins", sans-serif;
  line-height: 40px;
  padding: 0 30px;
  text-transform: capitalize;
}

.pricing-area .pricing-item.active .pricing-header {
  background: #f4b070 none repeat scroll 0 0;
}

.pricing-area.color-yellow .pricing-item.active .pricing-header {
  background: #ff9800 none repeat scroll 0 0;
}

.pricing-area .pricing-item.active .pricing-header h2,
.pricing-area .pricing-item.active .pricing-header h4,
.pricing-area .pricing-item.active .pricing-header span {
  color: #ffffff;
}

.pricing-area .pricing-item.active .pricing-header span.badge {
  background: #ffffff none repeat scroll 0 0;
  color: #232323;
}

.pricing-item li i {
  color: #f4b070;
  margin-right: 5px;
}

.pricing-item li i.fa-times {
  color: #e22626;
}

/* ============================================================== 
# Team 
=================================================================== */

.team-area.default-padding {
  padding-bottom: 50px;
}

.team-area .item .thumb {
  position: relative;
  overflow: hidden;
}

.team-area .item .thumb .social {
  bottom: -100%;
  left: 0;
  padding: 20px;
  position: absolute;
  text-align: center;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 100%;
}

.team-area .item:hover .thumb .social {
  bottom: 30px;
}

.team-area .item .thumb img {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}

.team-area .item:hover .thumb img {
  opacity: 0.6;
}

.team-area .item .thumb .social li {
  display: inline-block;
}

.team-area .item .thumb .social li a {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 2px;
  text-align: center;
  width: 40px;
}

.team-area .info {
  background: #ffffff none repeat scroll 0 0;
  -moz-box-shadow: 0 0 10px #cccccc;
  -webkit-box-shadow: 0 0 10px #cccccc;
  -o-box-shadow: 0 0 10px #cccccc;
  box-shadow: 0 0 10px #cccccc;
  left: 5%;
  padding: 20px;
  position: relative;
  text-align: center;
  top: -30px;
  width: 90%;
  z-index: 9;
}

.team-area .info h4 {
  font-weight: 600;
  margin-bottom: 5px;
  text-transform: capitalize;
}

.team-area .info span {
  color: #f4b070;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.team-area .social li.twitter a {
  background-color: #00b6f1;
}

.team-area .social li.pinterest a {
  background-color: #bd081c;
}

.team-area .social li.facebook a {
  background-color: #3b5998;
}

.team-area .social li.g-plus a {
  background-color: #df4a32;
}

.team-area .social li.vimeo a {
  background-color: #1ab7ea;
}

.team-area .social li.instagram a {
  background-color: #cd486b;
}

.team-area .team-carousel .owl-dots {
  margin-bottom: 15px;
  margin-top: 0 !important;
}

.team-area .team-carousel .owl-dots .owl-dot span {
  background: #e7e7e7 none repeat scroll 0 0;
  border: 4px solid #edf5ff;
  height: 20px;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  width: 20px;
}

.team-area .team-carousel .owl-dots .owl-dot.active span,
.team-area .team-carousel .owl-dots .owl-dot:hover span {
  background: #f4b070 none repeat scroll 0 0;
}

/* ============================================================== 
# Video Button Play
=================================================================== */

.video-play-button {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  box-sizing: content-box;
  color: #ffffff;
  display: block;
  font-size: 40px;
  height: 40px;
  left: 50%;
  line-height: 40px;
  margin-top: 25px;
  padding: 0 0 0 10px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 40px;
  z-index: 10;
}

.text-dark .video-play-button {
  color: #f4b070;
}

.video-play-button:before {
  content: "";
  position: absolute;
  z-index: 0;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #f4b070 repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-animation: pulse-border 1500ms ease-out infinite;
  animation: pulse-border 1500ms ease-out infinite;
}

.text-dark .video-play-button:before {
  background: #ffffff repeat scroll 0 0;
}

.video-play-button:after {
  content: "";
  position: absolute;
  z-index: 1;
  left: 50%;
  top: 50%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  display: block;
  width: 100px;
  height: 100px;
  background: #f4b070 repeat scroll 0 0;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  transition: all 200ms;
  -webkit-transition: all 200ms;
  -moz-transition: all 200ms;
  -ms-transition: all 200ms;
  -o-transition: all 200ms;
}

.text-dark .video-play-button:after {
  background: #ffffff repeat scroll 0 0;
}

.video-play-button:hover,
.video-play-button:focus {
  color: #ffffff;
}

.text-dark .video-play-button:hover,
.text-dark .video-play-button:focus {
  color: #f4b070;
  background-color: #ffffff;
}

.video-play-button:hover:after {
  background-color: #f4b070;
}

.text-dark .video-play-button:hover:after {
  background-color: #ffffff;
}

@-webkit-keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

@keyframes pulse-border {
  0% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-50%) translateY(-50%) translateZ(0)
      scale(1.5);
    transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
    opacity: 0;
  }
}

.video-play-button i {
  display: block;
  position: relative;
  z-index: 3;
}

/* New Subscribe */

.subscribe-section {
  margin-bottom: 20px;
}

.subscribe-section::before {
  position: absolute;
  top: 50%;
  background: #f8f8f8;
}

.box-shad {
  -webkit-box-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 75px rgba(0, 0, 0, 0.1);
  padding: 40px;
  background: #fff;
  z-index: 1;
}

.align-flx-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: center;
  -webkit-justify-content: center;
  -webkit-box-pack: center;
}

.flx-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.p.large {
  font-size: 1.15em;
}

.sub-input .custom-form {
  position: relative;
}

.sub-input .custom-form .form-control-cyan {
  border: 1px solid #8089ff;
}
.sub-input .custom-form .form-control {
  height: 65px;
  border: 1px solid #f4b070;
  background-color: #fff;
  border-radius: 70px;
  padding: 0 0 0 20px;
  font-size: 18px;
  box-shadow: inset 0 1px 1px transparent;
}

.sub-input .result-box {
  font-size: 24px;
}

.sub-input .custom-form .btn {
  text-transform: uppercase;
  border-radius: 0 70px 70px 0;
  -webkit-border-radius: 0 70px 70px 0;
  -moz-border-radius: 0 70px 70px 0;
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  height: 100%;
  box-shadow: 0 0 0 transparent;
}
.btn {
  text-align: center;
  text-transform: uppercase;
  padding: 13px 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-right: 10px;
  position: relative;
}

.btn-cyan,
.btn-cyan p {
  background-image: -webkit-linear-gradient(
    90deg,
    #c67700 0,
    #f4b070 51%,
    #c67700 100%
  );
  background-image: linear-gradient(90deg, #f4b070 0%, #c67700 100%);
}

.btn.fill span,
.btn:hover span {
  color: #fff;
}
.btn span {
  color: #252a32;
  z-index: 1;
}

/* New Cards */
/* .page-info .page-info-wrapper {
position: relative;
}

.has-overlay::before {
content: "";
position: absolute;
width: 100%;
top: 0;
height: 100%;
background: linear-gradient(30deg,#000 -50%,transparent 160%);
}

.page-info .page-info-wrapper img {
height: 720px;
}

.page-info .page-info-wrapper .page-info-wrapper_text {
position: absolute;
left: 0;
top: 0;
height: 100%;
width: 100%;
display: -ms-flexbox;
display: flex;
-ms-flex-align: end;
align-items: flex-end;
}
.page-info .page-info-wrapper .page-info-wrapper_text > div {
margin-bottom: 100px;
}

.section-title {
font-size: 48px;
font-size: 4.8rem;
line-height: 62px;
line-height: 6.2rem;
font-weight: 500;
letter-spacing: 0;
font-family: Raleway;
margin-bottom: 30px;
}

.page-info .page-info-wrapper .page-info-wrapper_text h5 {
min-height: 102px;
}
.page-info .page-info-wrapper .page-info-wrapper_text h5 {
max-width: 450px;
}
.btn.btn-default {
background: #fff;
border-color: #fff;
color: #008eff;
}
.btn.btn-lg {
padding-top: 17px;
padding-bottom: 17px;
padding-left: 36px;
padding: 1.7rem 3.6rem;
padding-right: 3.6rem;
padding-right: 36px;
} */

.feature-section-two {
  position: relative;
  padding: 120px 0 60px;
}

.auto-container {
  position: static;
  /* max-width: 1200px; */
  padding: 0px 15px;
  margin: 0 auto;
}
.sec-title {
  position: relative;
  margin-bottom: 65px;
}

.feature-section-two .row {
  margin: 0 -15px;
}

.feature-block-two {
  position: relative;
  padding: 0 15px;
  margin-bottom: 30px;
}

.feature-block-two .inner-box {
  position: relative;
  background-color: #ffffff;
  min-height: 410px;
  -webkit-box-shadow: 0 15px 46px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 15px 46px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: 0 15px 46px rgba(0, 0, 0, 0.1);
  -o-box-shadow: 0 15px 46px rgba(0, 0, 0, 0.1);
  box-shadow: 0 15px 46px rgba(0, 0, 0, 0.1);
}

.feature-block-two .image-box {
  position: relative;
  float: right;
  z-index: 9;
}

.feature-block-two .image-box img {
  position: relative;
  display: block;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.feature-block-two .content-box {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 30px;
  padding-right: 275px;
  padding-top: 65px;
}

.feature-block-two .icon-box {
  position: relative;
  height: 80px;
  width: 80px;
  line-height: 80px;
  font-size: 70px;
  color: #f44438;
  margin: 0 0 25px;
  -webkit-transition: all 700ms ease;
  -moz-transition: all 700ms ease;
  -ms-transition: all 700ms ease;
  -o-transition: all 700ms ease;
  transition: all 700ms ease;
}

.feature-block-two h3 {
  display: block;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2em;
  color: #202020;
  margin-bottom: 20px;
}

.feature-block-two p {
  font-size: 14px;
  line-height: 27px;
  color: #888888;
  margin-bottom: 20px;
}

.feature-block-two .read-more {
  display: inline-block;
  font-size: 15px;
  line-height: 18px;
  color: #202020;
  font-weight: 500;
  text-transform: capitalize;
  border-bottom: 2px solid #a8a8a8;
  -webkit-transition: all 300ms ease;
  -moz-transition: all 300ms ease;
  -ms-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  transition: all 300ms ease;
}

/* Subscribe Area  */

.subscribe-area h2 {
  font-weight: 600;
}

.subscribe-area h3 {
  font-weight: 600;
  text-transform: uppercase;
}

/* .col-md-8.col-md-offset-2 > h2 {
} */

.subscribe-area form .input-group {
  margin: 30px auto auto;
  width: 450px;
}

.subscribe-area form .input-group span {
  background: transparent none repeat scroll 0 0;
  border: medium none;
  padding: 0;
}

.subscribe-area .subscribe form .input-group input {
  border: 1px solid #f1f1f1;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  box-shadow: inherit;
  min-height: 60px;
  padding-left: 20px;
}

.subscribe-area form .input-group button {
  background: #f4b070 none repeat scroll 0 0;
  border: medium none;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  height: 100%;
  line-height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  z-index: 9;
}

.sign-up h2 {
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 30px;
}

.sign-up button {
  background: #ffffff none repeat scroll 0 0;
  border: medium none;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  color: #f4b070;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 25px;
  margin-top: 15px;
  overflow: hidden;
  padding: 8px 35px;
  text-transform: uppercase;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

/*  Affilaited Companies Area */

.companies-area .row {
  align-items: center;
  align-self: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
}

.companies-area .text-white {
  color: #f8f9fa;
}

.companies-area .clients-items img {
  width: auto;
  margin: auto;
  padding: 5px;
}

.companies-area .clients-items .owl-nav {
  margin: 0;
}

.companies-area .clients-items .owl-nav .owl-prev,
.companies-area .clients-items .owl-nav .owl-next {
  background: transparent none repeat scroll 0 0;
  color: #000;
  font-size: 30px;
  height: 35px;
  left: 0;
  line-height: 35px;
  margin-top: -18px;
  padding: 0;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 35px;
}

.companies-area .clients-items .owl-nav .owl-next {
  left: auto;
  right: 0;
}

.companies-area .info h4 {
  font-weight: 600;
  text-transform: capitalize;
}

.companies-area .info p {
  margin: 0;
}

/*  404  */
.error-page-area h1 {
  font-size: 150px;
  font-weight: 900;
  line-height: 120px;
  margin-bottom: 30px;
}

.error-page-area h2 {
  font-weight: 600;
  text-transform: uppercase;
}

.error-page-area a {
  margin-top: 15px;
}

/*  Footer  */

footer .f-item p {
  color: #999999;
}

footer .f-item > h3,
footer .f-item > h4 {
  font-weight: 600;
  margin-bottom: 25px;
  position: relative;
  text-transform: capitalize;
  z-index: 1;
  color: #fff;
}

footer .f-item .address .icon,
footer .f-item .address .info {
  display: table-cell;
  vertical-align: middle;
}

footer .f-item > a {
  margin-top: 10px;
}

/* footer .f-item .address .info {
padding-left: 15px;
} */

.footer-bottom .col-md-6:first-child {
  padding-left: 0;
}

.footer-bottom .col-md-6:last-child {
  padding-right: 0;
}

footer .f-item .address .info h5 {
  font-weight: 600;
  margin-bottom: 0;
  text-transform: uppercase;
  color: #232323;
  letter-spacing: 1px;
}

footer .f-item .address li i {
  /* background: #edf5ff none repeat scroll 0 0; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #f4b070;
  font-size: 25px;
  height: 60px;
  /* line-height: 60px; */
  text-align: center;
  width: 40px;
}

footer .f-item .address li span {
  color: #999999;
}

footer .f-item .address li {
  display: block;
  margin-top: 15px;
}

footer .f-item .address li:first-child {
  margin-top: 0;
}

footer .f-item > img {
  margin-bottom: 25px;
}

footer .f-item.link li {
  display: block;
}

footer .f-item.link li a {
  color: #999999;
  display: block;
  font-size: 13px;
  font-weight: 200;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

footer .f-item.link li a:hover {
  color: #f4b070;
}

footer .footer-bottom {
  /* border-top: 1px solid #e7e7e7; */
  margin-top: 40px;
  padding-top: 30px;
}

footer .footer-bottom p {
  color: #999999;
  margin: 0;
  text-transform: capitalize;
  line-height: 40px;
  font-size: 12px;
}

footer .f-item.link li:last-child a {
  margin: 0;
  padding: 0;
}

footer .footer-bottom p a {
  color: #f4b070;
  text-transform: capitalize;
}

footer.color-yellow .footer-bottom p a {
  color: #ff9800;
}

.footer-bottom h4 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
}

.footer-bottom .link li {
  display: inline-block;
}

.footer-bottom .link li a {
  color: #999999;
  display: inline-block;
  font-weight: 500;
  line-height: 40px;
  margin-left: 10px;
  padding-left: 15px;
  position: relative;
  text-transform: uppercase;
  z-index: 1;
}

.footer-bottom .link li a::before {
  background: #999999 none repeat scroll 0 0;
  content: "";
  height: 12px;
  left: 0;
  position: absolute;
  top: 15px;
  width: 1px;
}

.footer-bottom .link li:first-child a {
  margin: 0;
  padding: 0;
}

.footer-bottom .link li:first-child::before {
  display: none;
}

.footer-bottom .link li:first-child a::before {
  display: none;
}

.footer-bottom .link li a:hover {
  color: #f4b070;
}

/* Preloader  */
.no-js #loader {
  display: none;
}

.js #loader {
  display: block;
  position: absolute;
  left: 100px;
  top: 0;
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background: url(./images/loader.gif) center no-repeat #fff;
  text-align: center;
}

/*  # Demo  */
.demo-area .single-item {
  box-shadow: 0 0 10px #cccccc;
  position: relative;
  z-index: 1;
}

.demo-area .item {
  margin-bottom: 50px;
}

.demo-area .single-item .info {
  background: #f3f6f8 none repeat scroll 0 0;
  color: #333;
  padding: 15px 10px;
  text-align: center;
}

.demo-area .single-item .info h4 {
  color: #333;
  font-weight: 600;
  margin: 0;
  text-transform: capitalize;
}
.banner-area .demo-banner h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 30px;
}
.banner-area .demo-banner img {
  height: auto;
  margin-bottom: 20px;
  max-height: 150px;
}
.demo-area .def-heading h2 {
  font-weight: 900;
  margin: 30px 0;
  text-transform: uppercase;
  color: #333333;
}
.demo-footer {
  padding-bottom: 80px;
}
.demo-footer .footer-bottom {
  margin-top: 0;
}
.site-heading.margin-top {
  margin-top: 50px;
}

.introduction-area h2 span {
  color: #fd0060;
}

.introduction-area h4 {
  font-weight: 300;
  line-height: 30px;
}

.introduction-area h2 {
  color: #ffffff;
  display: inline-block;
  font-weight: 700;
  padding-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.introduction-area h2::before {
  background: #fd0060 none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -10px;
  position: absolute;
  width: 50px;
}

.introduction-area h2::after {
  background: #ffffff none repeat scroll 0 0;
  bottom: 0;
  content: "";
  height: 2px;
  left: 50%;
  margin-left: -40px;
  position: absolute;
  width: 25px;
}

footer.demo .copyright {
  margin-top: 15px;
}
.demo-area .comming-soon.item img {
  opacity: 0.3;
}
.banner-area.demo-banner {
  padding: 50px 0;
}

/*  Additional Styles  */
.media-wrap {
  z-index: 0;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-position: top;
  border-radius: inherit;
  opacity: 0.2;
  background-image: url(./images/media_wrap_bg.svg);
}

.media-text {
  margin-bottom: 1.5rem;
  margin-top: 0;
  text-align: center;
  font-size: 15px;
  color: #f8f9fa;
}
/* Extras */

.title-p {
  color: #666666;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: capitalize;
}

.border-highlight {
  color: #f4b070;
  cursor: text;
  border-bottom: 1px solid #f4b070;
  display: inline-block;
  padding: 4px 1px 0 2px;
  line-height: 1;
}
.tooltip::after {
  display: none;
  position: absolute;
  bottom: 110%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%, 50%) rotate(45deg);
  width: 6px;
  height: 6px;
  border: solid #c9e0ef;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  content: "";
}

.client-container {
  color: white;
  background: #f4b070;
  padding: 30px 0;
}
/* .block {
padding: 60px 0;
} */
.block {
  width: 100%;
  /* padding: 30px 10px; */
  color: inherit;
  background-color: #f4b070;
}

.client-container img {
  margin: 5px;
  height: 40px;
  margin-right: 30px;
}

.counter-animate {
  background: #323b3b;
  color: #fff;
  font-size: 22px;
  text-align: center;
  line-height: 1;
}

.counter-animate .animate-text {
  margin: 36px 0;
  z-index: 3;
  position: relative;
}

.counter-animate .num_animate {
  font-size: 60px;
  display: block;
  padding-bottom: 6px;
}

/* Short Codes */

.text-black {
  color: #292929 !important;
  background: transparent;
}

.btn--color {
  background-color: #f4b070;
  border-color: #f4b070;
  color: #fff;
}
.btn--color:hover {
  background-color: #e8c99b;
  background-image: linear-gradient(315deg, #e8c99b 0%, #e8bc85 74%);
  color: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 1;
}

/* Special Buttons Animations*/

.animated-button.action-btn {
  border-radius: none !important;
  color: #fff;
  cursor: pointer;
  border: 1px solid #f7ca18;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}
.animated-button.action-btn:hover {
  color: #292929 !important;
  background-color: transparent;
}
.animated-button.action-btn:hover:before {
  right: 0%;
  left: auto;
  width: 100%;
}
a.animated-button.action-btn:before {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: "";
  color: #fff !important;
  background: #e48429;
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1) 0s;
}

.m-btn.m-btn-t-white {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
}

/* 
.bg-footers-gradient {
position: relative;
/* background-image: linear-gradient(315deg, #ccc 0%, #f5f7fd 74%); 
}*/

.bg-footers-gradient::after {
  content: "";
  position: absolute;
  /* background-color: #f5f7fd; */
  background-image: linear-gradient(315deg, #ccc 0%, #f5f7fd 74%);
  /* background-image: linear-gradient(315deg, #000 0%, #0c101c 74%); */
  top: 0;
  left: -80px;
  right: -80px;
  bottom: 0;
  z-index: -5;
  -moz-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

/* Login Form on Contact Us page*/
.get-quote-form {
  width: 400px;
  max-width: 100%;
  padding: 8%;
  border-radius: 5px;
}
.box-shadow,
.accordion-01 .acco-group {
  box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.1);
}
.white-bg {
  background: #ffffff;
}

.float-lg-right {
  float: right !important;
}

/* FAQs ACCordion*/
/* FAQs ACCordion*/

.section-top-up {
  margin-top: -100px;
  position: relative;
  z-index: 1;
}

.feature-box-06 {
  padding: 40px 30px 40px 110px;
  position: relative;
  border: 1px solid #f5f7fd;
  margin: -1px;
}

.feature-box-06 .icon {
  position: absolute;
  top: 35px;
  left: 20px;
  font-size: 40px;
  color: #fff;
  width: 70px;
  height: 70px;
  background: #f4b070;
  border-radius: 100% 50% 50% 100% / 75% 69% 69% 75%;
  text-align: center;
  line-height: 70px;
}

.feature-box-06 .icon::after {
  content: "";
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: -5px;
  background: #f4b070;
  opacity: 0.2;
  border-radius: 50%;
}

.feature-box-06 h5 {
  color: #f4b070;
  margin: 0 0 10px;
  font-size: 18px;
  font-weight: 500;
}

.feature-box-06 p {
  margin: 0;
  font-size: 16px;
}

/* Wrapper 04 */
.p-60px-t {
  padding-top: 60px;
}
.wrapper-04 {
  padding: 100px 0;
  padding-top: 10px;
}

.feature-box-04 {
  text-align: center;
  padding: 10% 5%;
  position: relative;
  -moz-transition: ease all 0.5s;
  -o-transition: ease all 0.5s;
  -webkit-transition: ease all 0.5s;
  transition: ease all 0.5s;
  top: 0;
  border-radius: 5px;
  background: #ffffff;
}

.feature-box-04 a {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.feature-box-04 .icon {
  width: 120px;
  height: 120px;
  font-size: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 120px;
  display: inline-block;
  background: #f4b070;
  color: #ffffff;
  margin-bottom: 20px;
}

.feature-box-04 h5 {
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 10px;
}
.dark-color {
  color: #f4b070;
}

.feature-box-04 p {
  margin: 0;
  font-size: 16px;
}

.feature-box-04.active {
  background: #f4b070;
}

.feature-box-04.active .icon {
  background: #ffffff;
  color: #f4b070;
}

.feature-box-04.active h5 {
  color: #ffffff;
}

.feature-box-04.active p {
  color: rgba(255, 255, 255, 0.6);
}

.feature-box-04:hover {
  top: -10px;
}
/* wrapper 01*/
.wrapper-01 {
  padding: 100px 0;
}
.gray-bg-after {
  position: relative;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.p-70px-l {
  padding-left: 70px;
}

.side-feature label {
  color: #f4b070;
  font-weight: 600;
  padding-bottom: 10px;
  margin: 0;
}

.side-feature h1 {
  font-size: 35px;
  margin: 0 0 20px;
  font-weight: 500;
}
.dark-color {
  color: #292929;
}

.side-feature .line {
  position: relative;
  padding-top: 20px;
}

.side-feature p {
  font-size: 16px;
  margin: 0;
}
.side-feature .line::after {
  content: "";
  position: absolute;
  left: 0;
  width: 60px;
  height: 1px;
  background: #f4b070;
  top: 0;
}

.side-feature .read-more {
  padding-top: 30px;
  font-size: 13px;
  line-height: 13px;
}

.m-btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 0 30px;
  border-radius: 3px;
  border: none;
  display: inline-block;
  cursor: pointer;
  -moz-transition: ease all 0.55s;
  -o-transition: ease all 0.55s;
  -webkit-transition: ease all 0.55s;
  transition: ease all 0.55s;
  line-height: 50px;
  position: relative;
  text-transform: uppercase;
}

.m-btn.m-btn-theme {
  background: #f4b070;
  color: #ffffff;
  border: 1px solid #f4b070;
}
.m-btn-theme:hover {
  background: #0000;
  color: #f4b070;
  border-color: darken(#f4b070, 5%);
  box-shadow: 0px 20px 24px 0px rgba(#f4b070, 0.3);
}

/* Disclamier Style*/
.disclaimer {
  background-color: #0c101c;
  padding-top: 20px;
  padding-bottom: 20px;
}

.disclaimer p {
  font-size: 9px;
  line-height: 16px;
  color: #fff;
  margin: 0;
}

/*Warehouse Call to action*/
.callto-actions-down {
  margin-bottom: 0px;
}
.callto-actions-down .container-fluid {
  padding-right: 0px;
  padding-left: 0px;
  margin-right: auto;
  margin-left: auto;
}

.callto-actions-down .callto-inner {
  /* margin-bottom: -100px; */
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 5%;
  /* border-radius: 10px; */
  text-align: center;
}

.callto-actions-down .callto-inner h2 {
  font-size: 35px;
  /* margin: 0 0 15px; */
  font-weight: 500;
  color: #ffff;
  text-transform: capitalize;
}

.callto-actions-down .callto-inner p {
  font-size: 14px;
  margin: 0;
  font-weight: 500;
}

.callto-actions-down .callto-inner .btn-bar {
  margin-top: 25px;
}

.callto-actions-down .callto-inner::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
  background: #f4b070;
  opacity: 0.9;
  z-index: -1;
}

/**/
.get-quote-form {
  width: 400px;
  max-width: 100%;
  padding: 8%;
  border-radius: 5px;
  /* background: #ddd; */
}

.get-quote-form h2 {
  font-size: 22px;
  font-weight: 500;
  margin: 0 0 20px;
}
.form-control {
  border: 1px solid #f4b070 !important;
}

/* call to action*/

.call-action-v1 {
  background: #f4b070;
  padding: 40px 0;
}

.call-action-v1 p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  padding-top: 5px;
  float: left;
}

.fh-button.align-right {
  float: right;
}
.fh-button.button-type-bordered {
  min-width: 160px;
  height: 50px;
  line-height: 48px;
  border: 1px solid #fff;
  text-align: center;
}
.fh-button {
  font-weight: 500;
  font-size: 15px;
  color: #fff;
}
.fh-button:hover,
.fh-button:focus {
  color: #f4b070;
  background: #fff;
  transition: all 0.35s ease-in-out;
}

/** About US version shortcode**/

.about_us_bg_cover {
  /* background-image: url(images/bg/about-1-globe-bg-1.jpg); */
  background-size: cover;
  background-position: center center;
  min-height: 30%;
  transform: translate(0px, -12.2px);
}

/** Our Services version shortcode**/
.special_services.secpadd {
  padding: 80px 0 60px;
}
.special_services {
  /* background-color: #0c101c; */
  background-image: linear-gradient(315deg, #000 0%, #0c101c 74%);
  /* background-size: cover;  */
  /* background: #0c1239 url(images/special-features.jpg) no-repeat; */
  /* opacity: 0.1; */
  /* background-size: cover; */
}

.special_services.bluebg.secpadd {
  padding: 80px 0px;
}

.paddbtm40 {
  padding-bottom: 40px !important;
}

.haul-section-title h2 {
  color: #fff;
  padding-bottom: 0;
}
.haul-section-title h2 {
  font-size: 36px;
  font-weight: 600;
  padding-bottom: 20px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  text-transform: uppercase;
}

.haul-service-short-note {
  color: #fff;
  font-size: 15px;
  font-weight: 300;
  border-left: 2px solid #f4b070;
  padding-left: 25px;
}

.haul-service-short-note p {
  color: #fff;
}

.haul-service-box.style-1 {
  padding: 25px 20px;
  border: 1px solid #ffffff;
}

.haul-service-box.style-1:hover {
  border-color: #f4b070;
}

.haul-service-box {
  margin-bottom: 30px;
  color: #fff;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.haul-service-box .haul-icon {
  position: absolute;
  left: 20px;
  top: 0;
  line-height: 1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.haul-service-box .haul-icon {
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.haul-icon img {
  height: 50px;
}

.haul-service-box.style-1:hover .haul-icon {
  top: 30px;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  /* transition: width 1.25s ease-out, height 1.25s ease-out 0.25s; */
}

/* .haul-service-box.style-1:hover i {
    color: #F4B070;
     transition: width 0.25s ease-out, height 0.25s ease-out 0.25s; 
}

.haul-service-box i {
    font-size: 50px;
    color: #fff;
    -webkit-transition: 0.5s;
    transition: 0.5s;
} */

.haul-service-box h4 {
  margin: 0;
  padding-bottom: 10px;
}

.haul-service-box h4 a {
  color: #fff;
  font-weight: 600;
  font-size: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.haul-service-box h4,
.haul-service-box .desc {
  padding-left: 70px;
}

.haul-service-box h4,
.haul-service-box .desc p {
  color: #ffffff;
  margin-bottom: 15px;
  margin: 0 0 10px;
  font-size: 13px;
}

/* Warehouse Request Form*/
.haul-warehouse-page-gradient {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    top,
    transparent,
    rgba(37, 35, 15, 0.1) 47%,
    rgba(0, 0, 0, 0.9)
  );
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.haul-warehouse-request-form-container {
  max-width: 350px;
  margin-top: 60px;
}

#haul-warehouse-request-form .form-group {
  margin-bottom: 5px;
  overflow: hidden;
}
.position-relative {
  position: relative !important;
}

.hual-warehouse-request-label {
  color: #909090;
  left: 17px;
  font-size: 11px;
  top: 5px;
  font-weight: 600;
}
.position-absolute {
  position: absolute !important;
}

#haul-warehouse-request-form .form-group input {
  height: 55px;
  border: 1px solid #fff;
  width: 100%;
  color: #555;
  font-weight: 700;
  font-size: 14px;
  text-indent: 17px;
  padding-top: 8px;
}

.haul-warehouse-request-form-flex {
  display: flex !important;
}

.haul-warehouse-request-form-flex input {
  -webkit-flex: 0 0 80%;
  flex: 0 0 80%;
  max-width: 80%;
}

.haul-warehouse-request-form-flex .haul-warehouse-request-form-label {
  -webkit-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
  background-color: #f4b070;
  color: #fff;
  font-size: 14px;
  font-weight: 900;
}
.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}
.justify-content-center {
  /* -ms-flex-pack: center !important; */
  justify-content: center !important;
}
.d-flex {
  /* display: -ms-flexbox !important; */
  display: flex !important;
}

.haul-warehouse-request-form-report {
  color: #fff;
  font-size: 14px;
  max-width: 280px;
  margin: 10px auto;
  -webkit-animation: changeOpacity 3.5s infinite;
  animation: changeOpacity 3.5s infinite;
}

#haul-warehouse-request-form-submit:not(:disabled) {
  background-color: #0954fb;
  border-color: #0954fb;
  outline: 0;
  border-radius: 5px;
}
#haul-warehouse-request-form-submit {
  height: 55px;
  border-radius: 0px !important;
  background-color: #4f4f4f;
  border: 1px solid #4f4f4f;
  border-top-color: rgb(79, 79, 79);
  border-right-color: rgb(79, 79, 79);
  border-bottom-color: rgb(79, 79, 79);
  border-left-color: rgb(79, 79, 79);
  font-size: 12px;
  font-weight: 900;
  color: #fff;
}
.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
}
.btn-primary {
  background-color: #f4b070 !important;
  border-color: #f4b070 !important;
}
.w-100 {
  width: 100% !important;
}

/* Find My Warehouse */

#haul-warehouse-listing-page-content {
  background-color: #f5f5f5;
  height: 500px;
}

.haul-warehouse-page-content-wrap {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.haul-warehouse-page-listings {
  overflow-y: scroll;
}

.haul-warehouse-grid-listings {
  height: 550px;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.haul-warehouse-grid-results-container {
  font-size: 12px;
  color: #333;
  font-weight: 600;
  margin: 15px 0 15px 15px;
}

.haul-warehouse-grid-results-count {
  color: #777;
  margin-left: 10px;
}

.haul-warehouse-grid-items-container {
  overflow-y: scroll;
  flex-wrap: wrap;
  padding-bottom: 3rem !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex !important;
}

.haul-warehouse-grid-items-cards {
  /* padding-left: .5rem !important;
padding-right: .5rem !important; */
  margin-bottom: 0.5rem !important;
  margin-top: 0.5rem !important;
}

.haul-warehouse-grid-items-container
  .haul-warehouse-grid-items-cards
  .haul-warehouse-listings-tab {
  width: 100%;
  flex-direction: column !important;
  display: flex !important;
}

.haul-warehouse-listings-tab {
  height: 252px;
  width: 222px;
  background: #fff;
  margin-right: 20px;
  border-radius: 5px;
  position: relative;
  border: 1px solid #e8e9ea;
  transition: box-shadow 0.3s ease;
}

.haul-warehouse-listings-tab:hover {
  box-shadow: 0 4px 13px 0 hsla(0, 0%, 52.9%, 0.23);
}

.haul-warehouse-grid-listings-image {
  height: 116px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-position: 50%;
  background-size: cover !important;
}

.haul-warehouse-notification-toggle {
  top: 10px;
  left: 10px;
  height: 20px;
  cursor: pointer;
}

.haul-warehouse-grid-info {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
}

.haul-warehouse-price {
  color: #555;
  font-size: 14px;
  font-weight: 700;
  margin-top: 15px;
  letter-spacing: 0.5px;
}

.haul-warehouse-sqm {
  font-size: 11px;
  color: #555;
  margin-bottom: 5px;
}

.haul-warehouse-sqm img {
  height: 15px;
}

.haul-warehouse-address,
.haul-warehouse-name {
  font-size: 11px;
  color: #cccccc;
  line-height: 1.5;
  border-bottom: 1px dotted hsla(0, 0%, 80%, 0.8);
}

.haul-availabile-options {
  color: green;
  font-size: 9px;
  font-weight: 600;
  /* top: 17px;
right: 10px;
margin-top: 3px; */
}

.haul-not-availabile-options {
  color: #f00;
  font-size: 9px;
  font-weight: 600;
  /* top: 17px;
right: 10px;
margin-top: 3px; */
}

.haul-warehouse-listings-pagination {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.haul-warehouse-listings-pagination ul {
  margin: auto;
  font-size: 14px;
  text-align: center;
}

.haul-warehouse-listings-pagination .active {
  color: #313131;
}

.haul-warehouse-listings-pagination li {
  display: inline;
  margin: 0 10px;
  cursor: pointer;
  color: #cccccc;
}

.haul-warehouse-listings-pagination-range-count {
  text-align: center;
  color: #cccccc;
  font-size: 13px;
  padding-bottom: 3rem !important;
  margin-top: 0.5rem !important;
}

.haul-warehouse-page-map {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.haul-warehouse-archive-map {
  width: 100%;
  height: 500px;
  background: #f4b070;
}
/* 
Shipper Component */

.agency_task {
  padding: 90px 0;
}

.agency_task .agency_task_img {
  position: relative;
}

.agency_task .agency_task_img img {
  max-width: 100%;
}

.agency_task .agency_contant {
  max-width: 610px;
  margin-top: -30px;
}

.agency_task .agency_contant h2 {
  font-weight: 600;
  color: #141414;
  padding: 10px 0;
  font-size: 40px;
}

.agency_task .agency_contant .media {
  padding-left: 145px;
  padding-top: 20px;
}

.agency_task .agency_contant .media .media-body h1 {
  font: 400 32px/1 "Poppins", sans-serif;
  color: #f4b070;
}

.agency_task .agency_contant .media .media-body h1 span {
  /* font: 500 106px/1 ; */
  color: #232323;
  font-size: 40px;
  font-weight: 600;
}

.agency_task .agency_contant .media .media-body h6 {
  font: 400 24px/1;
  color: #232323;
  padding-top: 20px;
}

/* Call-t0-action */
.stripcontact {
  background: #f4b070;
  padding: 30px 0;
}

.stripcontact p {
  font-size: 23px;
  color: #fff;
  font-weight: 400;
  padding-top: 5px;
  /* position: absolute; */
}

/* Transport Component */

.haul-transport-section-full {
  position: relative;
  padding-top: 80px;
  padding-top: 50px;
}

.haul-content-heading {
  margin-bottom: 20px;
}

.haul-feature-box {
  margin-bottom: 30px;
  position: relative;
}

.haul-feature-box.haul-img-verticle {
  display: table;
  height: 100%;
}

.haul-feature-box.haul-img-verticle a {
  display: table-cell;
  vertical-align: middle;
}

.haul-feature-box.haul-img-verticle a img {
  width: 100%;
}

.haul-feature-box-icon-wrapper {
  /* position: relative;
z-index: 1;
height: 100%;
display: block; */
  padding: 30px;
  background-color: #fff;
  /* -moz-box-shadow: 0 1px 4px 1px rgba(0,0,0,0.35); */
  /* box-shadow: 0 1px 3px -3px rgba(0,0,0,0.6); */
  box-shadow: 0px 15px 38px rgba(0, 0, 0, 0.1);
  /* transition: color 0.25s; */
}

.hover-shadow {
  -webkit-box-shadow: 0 0px 0px 0 rgba(50, 50, 50, 0.16);
  box-shadow: 0 0px 0px 0 rgba(50, 50, 50, 0.16);
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
}

.hover-shadow:hover {
  position: relative;
  z-index: 10;
  background-color: #020d26;
  color: #fff;
  height: 100%;
}

.hover-shadow:hover .mt-tilte {
  color: #fff;
}

.hover-border-outer {
  position: relative;
  z-index: 1;
  height: 100%;
  display: block;
}

.hover-border-outer::before,
.hover-border-outer::after {
  box-sizing: inherit;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;
  display: black;
}

.hover-border {
  transition: color 0.25s;
}

.hover-border::before,
.hover-border::after {
  border: 3px solid transparent;
  width: 0;
  height: 0;
}

.hover-border::before {
  top: 0;
  left: 0;
}

.hover-border::after {
  bottom: 0;
  right: 0;
}

.hover-border:hover::before,
.hover-border:hover::after {
  width: 100%;
  height: 100%;
  display: block;
}

.hover-border:hover::before {
  border-top-color: #f4b070;
  border-right-color: #f4b070;
  transition: width 0.25s ease-out, height 0.25s ease-out 0.25s;
}

.hover-border:hover::after {
  border-bottom-color: #f4b070;
  border-left-color: #f4b070;
  transition: border-color 0s ease-out 0.5s, width 0.25s ease-out 0.5s,
    height 0.25s ease-out 0.75s;
}

.icon-md {
  float: left;
  margin-right: 10px;
}

.icon-md {
  width: 60px;
  display: inline-block;
  text-align: center;
  margin-bottom: 15px;
  height: 70px;
}

.icon-md i {
  font-size: 45px;
  line-height: 45px;
  color: #f4b070;
}

.haul-feature-box-icon-wrapper.icon-content {
  overflow: hidden;
}

.haul-feature-box-icon-wrapper.haul-about-title h4 {
  margin-top: 0;
  margin-bottom: 15px;
}

.haul-feature-box-icon-wrapper p:last-child {
  margin: 0px;
  font-size: 14px;
  line-height: 18px;
}

@media only screen and (max-width: 600px) {
  .col-xs-100pc {
    width: 100%;
  }
}

/* About Us Style 2  */

.about-us.style-two {
  position: relative;
  padding: 60px 0 60px;
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.about-us.style-two .title-column .inner-column {
  margin-left: -15px;
  padding-top: 50px;
}

.sec-title {
  position: relative;
  margin-bottom: 65px;
}

.sec-title .title::before {
  position: absolute;
  left: 0;
  top: 8px;
  width: 65px;
  height: 4px;
  background-color: #f4b070;
  border-radius: 0 2px 2px 0;
  content: "";
}

.sec-title .title {
  position: relative;
  display: block;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;

  color: #3c4858;
  margin-bottom: 10px;
  padding-left: 85px;
  letter-spacing: 0.5px;
}

.sec-title h2 {
  position: relative;
  color: #232323;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.4;
  margin-top: -45px;
}

.sec-title p {
  margin-top: 20px;
}

.about-us.style-two .image-column .inner-column {
  margin-left: -110px;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.about-us .play-now {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center !important;
}

/* Service Box Style 3 */
.service-block-two {
  position: relative;
  margin-bottom: 50px;
}

.service-block-two .inner-box {
  position: relative;
}

.service-block-two .image {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
}

.service-block-two .image img {
  display: block;
  width: 100%;
  height: auto;
  -webkit-transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.service-block-two .inner-box:hover .image img {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.service-block-two .caption-box {
  position: relative;
  background-color: #ffffff;
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.service-block-two .caption-box .inner {
  position: relative;
  display: block;
  padding: 40px 40px;
  padding-right: 40px;
  padding-right: 100px;
}

.service-block-two .caption-box h4 {
  position: relative;
  display: block;
  font-size: 19px;
  line-height: 25px;
  color: #f4b070;
  font-weight: 600;
}

.service-block-two .caption-box .icon-box {
  position: absolute;
  right: 40px;
  top: 40px;
  height: 50px;
}

.service-block-two .caption-box .icon-box::before {
  position: absolute;
  right: -8px;
  top: 0px;
  height: 51px;
  width: 58px;
  background-image: url("images/app/services-icon-1.png");
  background-repeat: no-repeat;
  background-position: center;
  content: "";
  transition: all 300ms ease;
}

.service-block-two .caption-box .icon-box .icon {
  position: relative;
  font-size: 36px;
  line-height: 40px;
  color: #222222;
  font-weight: 400;
}

/* Unique Process */
.features-section-three {
  position: relative;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 120px 0 40px;
}

.features-section-three::before {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.7;
  content: "";
}

.auto-container {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

.feature-block-three {
  position: relative;
  padding: 0 60px;
  margin-bottom: 50px;
}

.feature-block-three .inner-box {
  position: relative;
  text-align: center;
}

.feature-block-three .inner-box::before {
  position: absolute;
  top: 50px;
  left: 100%;
  margin-left: -40px;
  height: 1px;
  width: 205px;
  border-bottom: 1px dashed #ffffff;
  opacity: 0.36;
  content: "";
}

.feature-block-three:nth-child(3n + 3) .inner-box::before {
  display: none;
}

.feature-block-three .icon {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: top;
  margin: 0px 0 20px;
  position: relative;
  background: #f5f7fd;
}

/* 
            .feature-block-three .icon-box {
            position: relative;
            display: inline-block;
            height: 100px;
            width: 100px;
            background-color: #398bf5;
            border-radius: 50%;
            margin-bottom: 40px;
            } */
.feature-block-three h4 {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 26px;
  color: #ffffff;
  font-weight: 600;
  margin-bottom: 15px;
}

.feature-block-three .text {
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  color: #cccccc;
  font-weight: 400;
}

.text-white {
  color: #fff;
}
